@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --back-ground-color: #fff;
  --primary-main-color: #d84592;
  --secondary-main-color: #333;
  --orange-color: #fa9804;
  --main-font: "Figtree", serif;
  --input-color: #f5deb3;
}
body {
  font-family: var(--main-font);
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  padding: 20px 125px;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container {
  width: 80%;
  padding-right: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--back-ground-color);
  box-shadow: 0 0 16px #c8c7c7;
  border-radius: 0px 0px 50px 50px;
}
.card-container {
  background-color: var(--primary-main-color);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 0 16px #c8c7c7;
  border-radius: 50px;
  height: 60vh;
  margin-top: 50px;
}
.card-container h2 {
  font-size: 32px;
  color: var(--back-ground-color);
}
.section-img img.card-images {
  width: 600px;
  padding-left: 50px;
}
.card-container h3 {
  color: var(--back-ground-color);
  font-size: 42px;
  font-weight: 400;
}
.card-container .section-text {
  padding-top: 50px;
}
h2.offer {
  font-size: 32px;
}
.offer span {
  color: var(--secondary-main-color);
  font-size: 42px;
  font-weight: 800;
}
.message-box {
  width: 600px;
  height: 200px;
  background-color: var(--orange-color);
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  font-size: 18px;
  color: var(--back-ground-color);
}
.why-cont {
  margin-bottom: 70px;
}
.why-cont h2 {
  font-size: 37px;
  color: var(--primary-main-color);
}
.logo img {
  width: 260px;
  height: 78px;
}
.section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 100px;
}
.section-text h1 {
  font-size: 48px;
  color: var(--primary-main-color);
}

.bg-img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}
.section-img img {
  padding-top: 50px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fet-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 50px;
}
.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
}
.card img {
  border-radius: 7px;
  margin-bottom: 10px;
}
.section-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 50px 0px;
}
.health-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ctn {
  width: 100%;
  padding: 24px;
  border-radius: 16px;
  background-color: var(--back-ground-color);
  color: var(--orange-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 16px #c8c7c7;
  margin: 20px 0px;
}
.setp-con {
  margin-top: 50px;
}
.setp-con p {
  font-size: 24px;
}
.setp-con h2,
.setp-con p {
  margin-left: 50px;
  margin-bottom: 20px;
}
.setp-con ul {
  margin-left: 50px;
}
.setp-con ul li {
  font-size: 20px;
  margin-bottom: 10px;
}
.setp-con .color-text {
  color: var(--orange-color);
}
.cta2 {
  text-align: center;
}
.cta2 .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 50px;
  border-radius: 16px;
  background-color: var(--primary-main-color);
  color: var(--back-ground-color);
}
form {
  width: 60%;
  background-color: var(--back-ground-color);
  box-shadow: 0 0 16px #c8c7c7;
  padding: 24px;
  border-radius: 16px;
}
form h4 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
  color: var(--primary-main-color);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input,
textarea {
  padding: 15px 18px;
  border-radius: 10px;
  background-color: var(--input-color);
  border: 1px solid #fff;
  margin-bottom: 20px;
}
input {
  width: 100%;
}
textarea {
  width: 100%;
  height: 150px;
}
.btn {
  color: var(--back-ground-color);
  background-color: var(--primary-main-color);
  padding: 15px 18px;
  margin-left: 20px;
  border-radius: 12px;
  border: none;
  outline: none;
}

.card {
  width: 300px;
  background-color: var(--back-ground-color);
  box-shadow: 0 0 16px #c8c7c7;
}
.card-img img {
  width: 250px;
}
footer {
  background-color: var(--primary-main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px;
  color: var(--back-ground-color);
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}
.footer-widget {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
a {
  text-decoration: none;
  color: var(--back-ground-color);
}
ul li {
  list-style: none;
  margin-bottom: 10px;
}
.social-profile {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.social-profile a i {
  font-size: 22px;
}
.footer-cont {
  padding: 20px 0px 20px 20px;
}
.footer-widget-title {
  font-size: 28px;
}
.contact-info li {
  display: flex;
  gap: 10px;
}
.contact-info li i {
  color: var(--orange-color);
}

@media (max-width: 575px) {
  .container {
    padding: 20px;
  }
  .header-container {
    width: 100%;
    padding: 20px;
  }
  .logo img {
    width: 100px;
  }

  .header-container .btn {
    font-size: 11px;
  }
  .card-container {
    grid-template-columns: 1fr;
    height: 100%;
    padding-bottom: 30px;
  }
  .section-text {
    text-align: center;
  }
  .section-img img.card-images {
    width: 300px;
  }
  .card-container h2,
  .card-container h3,
  h2.offer span {
    font-size: 22px;
    padding-left: 20px;
  }

  .bg-img {
    display: none;
  }
  .fet-card {
    grid-template-columns: 1fr;
    gap: 20px;
    place-items: center;
  }
  .message-box {
    width: 100%;
    height: auto;
    margin-top: -30px;
    margin-bottom: 10px;
  }
  .section-container {
    grid-template-columns: 1fr;
  }
  .ctn {
    flex-direction: column;
    text-align: center;
  }

  form {
    width: 100%;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
  .footer-logo img {
    width: 150px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    padding: 20px;
  }
  .header-container {
    width: 100%;
    padding: 20px;
  }
  .logo img {
    width: 100px;
  }
  .header-container .btn {
    font-size: 11px;
  }
  .section-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-container {
    grid-template-columns: 1fr;
    height: 100%;
    padding-bottom: 30px;
  }
  .section-img img.card-images {
    width: 500px;
  }
  .section-text {
    text-align: center;
  }
  .card-container h2,
  .card-container h3,
  h2.offer span {
    font-size: 22px;
    padding-left: 20px;
  }

  .bg-img {
    display: none;
  }
  .fet-card {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .message-box {
    width: 100%;
    height: auto;
    margin-top: -30px;
    margin-bottom: 10px;
  }
  .section-container {
    grid-template-columns: 1fr;
  }
  .ctn {
    flex-direction: column;
    text-align: center;
  }

  form {
    width: 100%;
  }
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
  .footer-logo img {
    width: 150px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 20px;
  }
  .header-container {
    width: 100%;
    padding: 20px;
  }
  .logo img {
    width: 100px;
  }
  .header-container .btn {
    font-size: 11px;
  }
  .section-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-container {
    height: 100%;
  }
  .section-img img.card-images {
    width: 500px;
  }
  .section-text {
    text-align: center;
    margin-top: 50px;
  }
  .card-container h2,
  .card-container h3,
  h2.offer span {
    font-size: 22px;
    padding-left: 20px;
  }

  .bg-img {
    display: none;
  }
  .fet-card {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    place-items: center;
  }
  .message-box {
    width: 100%;
    height: auto;
    margin-top: -30px;
    margin-bottom: 10px;
  }
  .section-container {
    grid-template-columns: 1fr;
  }

  form {
    width: 100%;
  }

  .footer-logo img {
    width: 150px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding: 20px 60px;
  }
  .header-container {
    width: 100%;
    padding: 20px;
  }
  .logo img {
    width: 100px;
  }
  .header-container .btn {
    font-size: 11px;
  }
  .section-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-container {
    height: 100%;
    padding-bottom: 50px;
  }
  .fet-card {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    place-items: center;
  }
  .section-img img.card-images {
    width: 500px;
  }
  .section-text {
    text-align: center;
  }
  .bg-img img {
    width: 300px;
  }
  form {
    width: 70%;
  }

  .footer-logo img {
    width: 150px;
  }
}
